TRANSMISSION_USERNAME = "username"
TRANSMISSION_PASSWORD = "password"

TELEGRAM_USERID_LIST = [12345678, 87654321]
TELEGRAM_WEBHOOK_ENDPOINT = "https://your.endpoint.com/"
TORRENTBOT_TOKEN = "id:t0K3n"

TORRENTDAY_KEY = "lettersAndNumb3rs"
